<table class="btn-danger"><tr><td>
<h1>Edycja cytatu</h1>

<%= render 'form' %>

<div class="btn"><%= link_to 'Pokaż', @fortune %></div>
<div class="btn"><%= link_to 'Powrót', fortunes_path %></div>
</td></tr></table>